In [ ]:
import os
import pandas as pd

In [4]:
df = pd.read_csv(os.path.join("..", "data", "train.csv"))

In [6]:
df.head(1000000).to_csv(
    os.path.join("..", "data", "train_1000k.csv"),
    index=False,
    header=True,
    encoding="utf-8",
)

In [9]:
df.head(1000000).to_parquet(
    os.path.join("..", "data", "train_1000k.parquet"),
    index=False,
)

In [10]:
df.head()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,NaN
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False